header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  padding: 0.5rem 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  backdrop-filter: blur(5px);
  z-index: 1;
}

.menu {
  display: none;
  color: var(--color-text-primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70%;
  max-width: 20rem;
  background-color: var(--color-bot-bubble);
  z-index: 3;
}

.new-conversation {
  background-color: #282c34;
  padding: 1rem;
  border-radius: 0.5rem;
  list-style-type: none;
  cursor: pointer;
}

.fa-xmark {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  font-size: 1.8rem;
}

.fa-plus {
  margin: 0 0 0 0.5rem;
  color: var(--color-user-bubble-gradient-start);
}

.expand-collaps {
  display: none;
}

.fa-bars {
  font-size: 1.8rem;
  margin-left: 1rem;
}

.fa-trash {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.logo {
  display: flex;
  column-gap: 1rem;
  min-width: 40%;
  margin-left: 1rem;
}

button {
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--color-bot-bubble);
  color: var(--color-text-primary);
  font-size: 1.1rem;
  font-weight: bold;
}

.mode {
  margin-right: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  height: fit-content;
  width: 100%;
  margin-top: 50%;
  line-height: 1.5rem;
  position: relative;
  padding-bottom: 10rem;
}

.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  margin: auto;
  text-align: center;
}

.introduction h1 {
  font-size: 3rem;
  line-height: 4rem;
}

.introduction h2 {
  margin-top: 50%;
  /* margin: auto; */
}

.introduction span {
  color: var(--color-button-background);
}

.introduction button {
  width: 50%;
}

.introduction p {
  letter-spacing: 0.5px;
}

.user {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.user__massage {
  background: linear-gradient(
    160deg,
    var(--color-user-bubble-gradient-start),
    var(--color-user-bubble-gradient-end)
  );
  min-height: fit-content;
  margin-right: 1.5rem;
  max-width: 70%;
  padding: 1rem;
  border-radius: 2rem;
  border-bottom-right-radius: 0;
  line-break: auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.assistant {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.assistant__massage {
  background-color: var(--color-bot-bubble);
  height: fit-content;
  max-width: 80%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-left: 2.2rem;
  border-bottom-left-radius: 0;
  overflow-x: auto;
}

.assistant__massage--icons {
  display: flex;
  justify-content: space-around;
}

.fa-copy,
.fa-arrows-rotate {
  cursor: pointer;
}

.assistant__profile img {
  height: 1.6rem;
  margin: 0 0 0 0.5rem;
  border-top-right-radius: 0;
}

.message-input {
  display: none;
  position: fixed;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 10rem;
  background-color: var(--color-background);
  left: 0;
  right: 5%;
  bottom: -1rem;
  z-index: 1;
}

.text-input {
  margin: auto;
  margin-bottom: 3rem;
  width: 90%;
  padding: 1.4rem 4.5rem 0 1rem;
  border-radius: 1rem;
  background-color: var(--color-background);
  border: 1px solid var(--color-bot-bubble);
  color: var(--color-text-primary);
  font-size: 1.2rem;
  outline: none;
}

.text-input::placeholder {
  font-size: 1.2rem;
}

.text-input:focus {
  border: 1px solid var(--color-button-background);
}

.message-input__send {
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 10%;
}

.fa-arrow-up {
  padding: 0.8rem 0.85rem;
  background-color: var(--color-bot-bubble);
  border-radius: 50%;
}

.loader-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 30%;
  max-width: 8rem;
}

.loader-container img {
  height: 1.6rem;
  margin: 0 0 0 0.6rem;
  border-bottom-right-radius: 0;
  margin-bottom: 1.5rem;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  left: 3rem;
  color: var(--color-text-primary);
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
  transform: scale(0.5);
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}

.intro-loader {
  width: 22px;
  height: 22px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  padding: 0 1rem;
}

pre {
  background: #282c34;
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 15px;
}

code {
  font-family: "Fira Code", "Courier New", monospace;
  background-color: #282c34;
}

div code {
  color: wheat;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
}

strong {
  color: var(--color-user-bubble-gradient-start);
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: green;
  z-index: 2;
  background-color: rgb(0, 0, 0, 0.8);
}

footer {
  position: fixed;
  bottom: 1rem;
  right: 12%;
  z-index: 1;
  margin: auto;
  text-align: center;
  letter-spacing: 0.5px;
}

footer a {
  cursor: pointer;
  color: var(--color-user-bubble-gradient-start);
}
