@media only screen and (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    width: initial;
  }

  header {
    justify-content: space-between;
    width: 50%;
    margin-left: 15%;
  }

  .hide {
    display: none;
  }

  .menu {
    display: flex;
    left: 0;
  }

  main {
    position: initial;
    width: 50%;
    margin: auto;
    margin-left: 33%;
  }

  .introduction {
    margin-bottom: -40%;
  }

  .message-input {
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-left: 31%;
  }

  .text-input {
    margin-left: 3.5rem;
    margin-bottom: 4rem;
  }

  .overlay {
    display: flex;
  }
}

@media only screen and (min-width: 500px) {
  .introduction {
    margin-top: -20%;
  }

  .message-input__send {
    right: 5%;
  }

  footer {
    margin-right: 20%;
  }
}
